@model IEnumerable<net_shop_luismiguel_ortiz.Models.Database.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Catálogo</h2>

<p>
    @Html.ActionLink("Añadir producto", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        <img src="~/Content/imgs/@item.Imagen" width="40px" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Precio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Descripcion)
    </td>
    <td></td>
    <td>
        @if (item.Cantidad < 1)
        {
            @:Producto agotado
        }
        else
        {
            @Html.ActionLink("Añadir al carrito", "Add", "Carrito", new { id = item.Id }, null)
        }
        <br />
        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
